{% extends 'padre.html' %}

{% load static %}

{% block headerDinamico %}
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">Esta es la página de Cibermedios</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block contenidoDinamico %}
    <h1>Cibermedios: </h1>
    <ul>
        <li><h2>Para agregar cibermedios, <a href=" {% url 'cibermedios-formulario' %} ">pinche aquí</a></h2></li>
    </ul>
    
{% endblock %}